<screen name="VisualWeatherSettings" position="0,0" size="1920,1080" backgroundColor="#2a70a4" flags="wfNoBorder">
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/background.png" alphatest="off" position="0,0" size="1920,1080" zPosition="-1" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/logo.png" position="center,75" size="400,100" alphatest="blend" zPosition="1" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/panel-wide.png" position="center,center" size="1680,660" alphatest="blend" zPosition="1" />

	<widget name="config" position="center,center" size="1620,600" foregroundColor="#88a2bd" backgroundColor="#2d363d" foregroundColorSelected="#ffffff" backgroundColorSelected="#159fe8" itemHeight="60" scrollbarMode="showOnDemand" enableWrapAround="1" transparent="1" zPosition="2" />
	
	<widget name="iconset" position="center,900" size="384,96" alphatest="blend" scale="1" zPosition="5" />	
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/button-bg.png" position="0,1020" size="1920,60" alphatest="blend" zPosition="1" />
	<widget source="key_red" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/key_red.png" position="750,1031" size="38,38" alphatest="blend" zPosition="2" />
	<widget source="key_red" render="Label" position="802,1020" size="240,60" font="visualregular;24" foregroundColor="#ffffff" backgroundColor="#132132" valign="center" transparent="1" noWrap="1" zPosition="2" />
	<widget source="key_green" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/key_green.png" position="1050,1031" size="38,38" alphatest="blend" zPosition="2" />
	<widget source="key_green" render="Label" position="1102,1020" size="240,60" font="visualregular;24" foregroundColor="#ffffff" backgroundColor="#132132" valign="center" transparent="1" noWrap="1" zPosition="2" />
	
	<widget name="VKeyIcon" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/key_text.png" position="1322,1031" size="38,38" alphatest="blend" transparent="1" zPosition="2" />
	<widget name="HelpWindow" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/vkey_icon.png" position="0,0" zPosition="1" size="1920,1080" transparent="1" alphatest="on"/>
</screen>
