<screen name="VisualWeatherMainMenu" position="0,0" size="1920,1080" backgroundColor="#2a70a4" flags="wfNoBorder">
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/background.png" alphatest="off" position="0,0" size="1920,1080" zPosition="-1" />
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/logo.png" position="center,75" size="400,100" alphatest="blend" zPosition="1" />

	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/panel-mid.png" position="center,center" size="984,660" alphatest="blend" zPosition="1" />
	<widget source="list" render="Listbox" position="center,center" size="924,600" foregroundColor="#88a2bd" backgroundColor="#2d363d" foregroundColorSelected="#ffffff" backgroundColorSelected="#159fe8" itemHeight="120" scrollbarMode="showOnDemand" enableWrapAround="1" transparent="1" zPosition="2">
		<convert type="TemplatedMultiContent">{"template": [
			MultiContentEntryPixmapAlphaBlend(pos=(30, 20), size=(122, 80), png = 2),
			MultiContentEntryText(pos=(189, 0), size=(675, 120), font=0, color = 0x00ffffff, color_sel = 0x00ffffff, backcolor_sel = None, flags = RT_HALIGN_LEFT|RT_VALIGN_CENTER, text = 1),
			],
			"fonts": [gFont("visualregular", 48)],
			"itemHeight": 120,
			"scrollbarMode": "showOnDemand"
			}</convert>
	</widget>

	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/button-bg.png" position="0,1020" size="1920,60" alphatest="blend" zPosition="1" />
	
	<widget source="key_red" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/key_red.png" position="750,1031" size="38,38" alphatest="blend" zPosition="2" />
	<widget source="key_red" render="Label" position="802,1020" size="240,60" font="visualregular;24" foregroundColor="#ffffff" backgroundColor="#0a3162" valign="center" transparent="1" noWrap="1" zPosition="2" />
	
	<widget source="key_green" render="Pixmap" pixmap="/usr/lib/enigma2/python/Plugins/Extensions/VisualWeather/visual-gfx/key_green.png" position="1050,1031" size="38,38" alphatest="blend" zPosition="2" />
	<widget source="key_green" render="Label" position="1102,1020" size="240,60" font="visualregular;24" foregroundColor="#ffffff" backgroundColor="#0a3162" valign="center" transparent="1" noWrap="1" zPosition="2" />

	
</screen>

